{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Seja Bem vindo {% endblock%}

{% block main %}
    </br></br>
    <div class="row">
        <div class="col-sm"><h2 class="home">Home chamando com criação de classe</h2></div>
        <div class="col-6">        
            {{ test }}                                     
        </div>
        <div class="col-6">            
            <form method='post'>
                {% csrf_token %}
                <button type="submit">button</button>
            </form>
        </div>                
    </div>
    <span><a href="{% url 'person_list' %}">Gerenciador de Clientes</a></span>
{% endblock %}  