{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Atualizar Cliente {% endblock%}

{% block main %}    
    <br/>
    <div class="row">
        <div class="col-12">        
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Atualizar"/>
            </form>
        </div>
    </div>    
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
